
.cart{
    width: 30vw;
    height: 85vh;
    font-size: 50px;
    text-align: center;
    border-right: 1px solid rgb(114, 106, 106);
    margin-top: 10px;
}

.title{
    box-shadow: 0px 1px 1px 0px rgba(105, 104, 104, 0.38);
height: 100px;
margin-bottom: 0;
width: 450px;
}

.sum{
    font-size: 20px;
}

.itemOfCart{
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
    margin-top: 10px;
}