.title {
  margin: auto;
  width: 300px;
  margin-bottom: 4px;
}
.head {
  box-shadow: 0px 10px 13px -7px #000000, -3px 5px 30px 5px rgba(0, 0, 0, 0);
  height: 50px;
  background-color: rgb(216, 239, 239);
}
